<IfModule mod_rewrite.c>

    Options +FollowSymLinks
    RewriteEngine on

    # Send request via index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
    
    php_value upload_max_filesize 128M
    php_value post_max_size 128M
    php_value max_input_vars 100000
    php_value suhosin.get.max_vars 100000
    php_value suhosin.post.max_vars 100000
    php_value suhosin.request.max_vars 100000
    
</IfModule>


<IfModule mod_headers.c>
<FilesMatch ".(js|css|xml|gz|html)$">
Header append Vary: Accept-Encoding
</FilesMatch>
</IfModule>